<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <script src="main.js" defer></script>
    <link rel="stylesheet" href="public/style.css" />
    <link rel="stylesheet" href="public/style2.css" />

    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="public/Images/favicon.ico"
    />

    <title>Frostfang - Home</title>
  </head>
  <body id="body">
    <header>
      <nav class="main-nav">
        <ul>
          <li><a class="nav-links" href="#backtotop">Home</a></li>
          <li><a class="nav-links" href="#news">News</a></li>
          <li>
            <a class="nav-links" href="https://frostfang.bigcartel.com/"
              >Shop</a
            >
          </li>
          <li><img src="public/Images/image2vector.svg" alt="" /></li>
          <li><a class="nav-links" href="#tour">Tour</a></li>
          <li><a class="nav-links" href="#bio">Bio</a></li>
          <li><a class="nav-links" href="#contact">Contact</a></li>
        </ul>
      </nav>
      <nav data-mobile-nav class="mobile-nav">
        <img src="public/Images/image2vector.svg" alt="" />
        <ul data-mobile-nav-ul class="mobile-nav-ul">
          <li><a class="nav-links" href="#backtotop">Home</a></li>
          <li><a class="nav-links" href="#news">News</a></li>
          <li>
            <a class="nav-links" href="https://frostfang.bigcartel.com/"
              >Shop</a
            >
          </li>
          <li><a class="nav-links" href="#tour">Tour</a></li>
          <li><a class="nav-links" href="#bio">Bio</a></li>
          <li><a class="nav-links" href="#contact">Contact</a></li>
        </ul>
      </nav>
      <div data-burger-menu class="burger-menu">
        <div class="line1" data-burger-line></div>
        <div class="line2" data-burger-line></div>
        <div class="line3" data-burger-line></div>
      </div>
    </header>
    <main>
      <h1 class="italic">What's your Favorite album?</h1>
      <form action="/submit-album" method="POST" class="fav-album-form">
        <label for="album-name">Album</label
        ><input
          type="text"
          name="albumName"
          id="album-name"
          placeholder="Enter album name"
        />
        <label for="artist-name">Artist</label>
        <input
          type="text"
          name="artistName"
          id="artist-name"
          placeholder="Enter artist name"
        />
        <label for="year">Year</label>
        <input
          type="number"
          name="year"
          id="year"
          placeholder="Enter release year"
        />
        <label for="genre">Genre</label>
        <input type="text" name="genre" id="genre" placeholder="Enter Genre" />
        <button type="submit">Submit</button>
      </form>

      <div class="display-albums">
        <ul>
          <li></li>
        </ul>
      </div>
    </main>
    <footer class="main-footer">
      <div class="socials-container">
        <span class="copyright">&#169; 2022 Frostfang</span>
        <h3>Follow Us!</h3>
        <ul>
          <li>
            <a target="_blank" href="https://twitter.com/frostfangmetal"
              ><img
                src="public/SocialMediaIcons/2021-Twitter-logo-white-100px.png"
                alt=""
            /></a>
          </li>
          <li>
            <a target="_blank" href="https://www.facebook.com/Frostfangmetal/"
              ><img
                src="public/SocialMediaIcons/f_logo_RGB-White_58.png"
                alt=""
            /></a>
          </li>
          <li>
            <a
              target="_blank"
              href="https://open.spotify.com/artist/0NFoTtyvJdWhkSJYv71rfR?si=o8Q4B-RUQHKxyEC16NPwJQ"
              ><img
                src="public/SocialMediaIcons/Spotify_Icon_RGB_White.png"
                alt=""
            /></a>
          </li>
          <li>
            <a target="_blank" href="https://www.instagram.com/frostfangmetal/"
              ><img
                src="public/SocialMediaIcons/glyph-logo_May2016-grey.png"
                alt=""
            /></a>
          </li>
          <li>
            <a target="_blank" href="https://www.youtube.com/frostfangmetalband"
              ><img src="public/SocialMediaIcons/icons8-youtube-250.png" alt=""
            /></a>
          </li>
          <li>
            <a target="_blank" href="https://frostfangmetal.bandcamp.com/"
              ><img
                src="public/SocialMediaIcons/icons8-bandcamp-480.png"
                alt=""
            /></a>
          </li>
          <li>
            <a target="_blank" href="https://soundcloud.com/frostfang"
              ><img
                src="public/SocialMediaIcons/icons8-soundcloud-480.png"
                alt=""
            /></a>
          </li>
        </ul>
      </div>
      <!-- <a target="_blank" href="https://icons8.com/icon/121554/bandcamp">Bandcamp</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a> -->
    </footer>
  </body>
</html>
