main {
  padding-top: 5rem;
  min-height: 100vh;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
}

h1 {
  padding: 1em;
}

input {
  color: rgba(255, 255, 255, 0.659);
  padding: 1em;
  border-radius: 10px;
  background-color: rgba(104, 104, 104, 0.282);
  border: none;
}
.fav-album-form {
  display: flex;
  flex-direction: column;
  max-width: 20%;
  margin: 1em auto 2em auto;
}

label {
  margin: 1em 0;
}

.button {
  color: white;
  margin: 2em 0;
  padding: 1em 9em;
  border: none;
  cursor: pointer;

  background-color: var(--dark-purple);
  transition: all 200ms ease-in-out;
}

button:hover {
  background-color: var(--light-purple);
}

/* 

#pic10 {
  animation-delay: 0s;
  background-image: url(https://res.cloudinary.com/caprio-web-dev/image/upload/c_crop,g_face/v1676938402/Frostfang%20website/DSC_0497_hudyax.png);
}
#pic9 {
  animation-delay: 12s;
  background-image: url(https://res.cloudinary.com/caprio-web-dev/image/upload/c_crop,g_face/v1676938398/Frostfang%20website/DSC_0693_oeae3m.webp);
}
#pic8 {
  animation-delay: 24s;
  background-image: url(https://res.cloudinary.com/caprio-web-dev/image/upload/c_crop,g_face/v1676938401/Frostfang%20website/DSC_0416_jzxhnw.webp);
}
#pic7 {
  animation-delay: 36s;
  background-image: url(https://res.cloudinary.com/caprio-web-dev/image/upload/c_crop,g_face/v1676938406/Frostfang%20website/DSC_0701_nuhira.webp);
}
#pic6 {
  animation-delay: 48s;
  background-image: url(https://res.cloudinary.com/caprio-web-dev/image/upload/c_crop,g_face/v1676938414/Frostfang%20website/IMG_4607_urib6w.webp);
}
#pic5 {
  animation-delay: 60s;
  background-image: url(https://res.cloudinary.com/caprio-web-dev/image/upload/c_crop,g_face/v1676938416/Frostfang%20website/IMG_4713_e1ldlo.webp);
}
#pic4 {
  animation-delay: 72s;
  background-image: url(https://res.cloudinary.com/caprio-web-dev/image/upload/c_crop,g_face/v1676938421/Frostfang%20website/IMG_4779_cywo52.jpg);
}
#pic3 {
  animation-delay: 84s;
  background-image: url(https://res.cloudinary.com/caprio-web-dev/image/upload/c_crop,g_face/v1676938425/Frostfang%20website/IMG_4798_smogwo.webp);
}
#pic2 {
  animation-delay: 96s;
  background-image: url(https://res.cloudinary.com/caprio-web-dev/image/upload/c_crop,g_face/v1676938413/Frostfang%20website/DSC_0710_dihbkq.webp);
}
#pic1 {
  animation-delay: 108s;
  background-image: url(https://res.cloudinary.com/caprio-web-dev/image/upload/c_crop,g_face/v1676938395/Frostfang%20website/DSC_0474_vtwoil.webp);
}
*/
