<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <script src="main.js" defer></script>
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="style2.css" />

    <link rel="shortcut icon" type="image/x-icon" href="Images/favicon.ico" />

    <title>Frostfang - Home</title>
  </head>
  <body id="body">
    <header>
      <nav class="main-nav">
        <ul>
          <li><a class="nav-links" href="#backtotop">Home</a></li>
          <li><a class="nav-links" href="#news">News</a></li>
          <li>
            <a class="nav-links" href="https://frostfang.bigcartel.com/"
              >Shop</a
            >
          </li>
          <img src="Images/image2vector.svg" alt="" />
          <li><a class="nav-links" href="#tour">Tour</a></li>
          <li><a class="nav-links" href="#bio">Bio</a></li>
          <li><a class="nav-links" href="#contact">Contact</a></li>
        </ul>
      </nav>
      <nav data-mobile-nav class="mobile-nav">
        <img src="Images/image2vector.svg" alt="" />
        <ul data-mobile-nav-ul class="mobile-nav-ul">
          <li><a class="nav-links" href="#backtotop">Home</a></li>
          <li><a class="nav-links" href="#news">News</a></li>
          <li>
            <a class="nav-links" href="https://frostfang.bigcartel.com/"
              >Shop</a
            >
          </li>
          <li><a class="nav-links" href="#tour">Tour</a></li>
          <li><a class="nav-links" href="#bio">Bio</a></li>
          <li><a class="nav-links" href="#contact">Contact</a></li>
        </ul>
      </nav>
      <div data-burger-menu class="burger-menu">
        <div class="line1" data-burger-line></div>
        <div class="line2" data-burger-line></div>
        <div class="line3" data-burger-line></div>
      </div>
    </header>
    <main>
      <h1 class="italic">What's your Favorite album?</h1>
      <form action="" class="fav-album-form">
        <label for="album-name">Album</label
        ><input type="text" name="albumName" placeholder="Enter album name" />
        <label for="artisit-name">Artist</label>
        <input type="text" name="artistName" placeholder="Enter artist name" />
        <label for="year">Year</label>
        <input type="text" name="year" placeholder="Enter release year" />
        <button type="submit">Submit</button>
      </form>
    </main>
    <footer class="main-footer">
      <div class="socials-container">
        <span class="copyright">&#169; 2022 Frostfang</span>
        <h3>Follow Us!</h3>
        <ul>
          <li>
            <a target="_blank" href="https://twitter.com/frostfangmetal"
              ><img
                src="SocialMediaIcons/2021 Twitter logo - white_100px.png"
                alt=""
            /></a>
          </li>
          <li>
            <a target="_blank" href="https://www.facebook.com/Frostfangmetal/"
              ><img src="SocialMediaIcons/f_logo_RGB-White_58.png" alt=""
            /></a>
          </li>
          <li>
            <a
              target="_blank"
              href="https://open.spotify.com/artist/0NFoTtyvJdWhkSJYv71rfR?si=o8Q4B-RUQHKxyEC16NPwJQ"
              ><img src="SocialMediaIcons/Spotify_Icon_RGB_White.png" alt=""
            /></a>
          </li>
          <li>
            <a target="_blank" href="https://www.instagram.com/frostfangmetal/"
              ><img src="SocialMediaIcons/glyph-logo_May2016-grey.png" alt=""
            /></a>
          </li>
          <li>
            <a target="_blank" href="https://www.youtube.com/frostfangmetalband"
              ><img src="SocialMediaIcons/icons8-youtube-250.png" alt=""
            /></a>
          </li>
          <li>
            <a target="_blank" href="https://frostfangmetal.bandcamp.com/"
              ><img src="SocialMediaIcons/icons8-bandcamp-480.png" alt=""
            /></a>
          </li>
          <li>
            <a target="_blank" href="https://soundcloud.com/frostfang"
              ><img src="SocialMediaIcons\icons8-soundcloud-480.png" alt=""
            /></a>
          </li>
        </ul>
      </div>
      <!-- <a target="_blank" href="https://icons8.com/icon/121554/bandcamp">Bandcamp</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a> -->
    </footer>
  </body>
</html>
