main {
  padding-top: 5rem;
  min-height: 50vh;
}

h1 {
  padding: 1em;
}

input {
  color: rgba(255, 255, 255, 0.659);
  padding: 1em;
  border-radius: 10px;
  background-color: rgba(104, 104, 104, 0.282);
  border: none;
}
.fav-album-form {
  display: flex;
  flex-direction: column;
  max-width: 20%;
  margin: 1em auto 2em auto;
}

label {
  margin: 1em 0;
}

button {
  color: white;
  margin: 1em 0;
  padding: 1em;
  border: none;

  cursor: pointer;
  background-color: var(--dark-purple);
  transition: all 200ms ease-in-out;
}

button:hover {
  background-color: var(--light-purple);
}
